<?xml version="1.0" encoding="UTF-8"?>
<?pcf-stylesheet path="/_resources/xsl/_shared/redirect.xsl" title="Redirect" extension="php"?>

<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd"> 

<document xmlns:ouc="http://omniupdate.com/XSL/Variables">
    
    <headcode></headcode> <!-- before closing head tag -->
    <bodycode></bodycode> <!-- after opening body tag -->
    <footcode></footcode> <!-- before closing body tag -->
    
    <parameter name="page-type">redirect</parameter>
    
    <ouc:properties label="config">
        <parameter section="Redirect" name="redirect-url" group="Everyone" type="filechooser" prompt="Redirect URL" alt="Please select a page to redirect this page to."><!--%echo var="target" --></parameter>
    </ouc:properties>
    
</document>
