<?xml version="1.0" encoding="utf-8"?>
<?pcf-stylesheet path="/_resources/xsl/catalog/web/courses-by-subject.xsl" title="Web" extension="html"?>
<?pcf-stylesheet path="/_resources/xsl/catalog/pdf/courses-by-subject.xsl" title="PDF" extension="pdf" alternate="yes" ?>
<?pcf-stylesheet path="/_resources/xsl/catalog/pdf/courses-by-subject.xsl" title="XML" extension="xml" alternate="yes" publish="no"?>
<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd">

<document xmlns:ouc="http://omniupdate.com/XSL/Variables">
	<headcode></headcode>
	<bodycode></bodycode>
	<footcode></footcode>
	
	<ouc:properties label="metadata">
		<title>Accounting</title>
		<meta name="Description" content="" />
		<meta name="Keywords" content="" />
	</ouc:properties>
	
	<ouc:properties label="config">
		<parameter name="heading" type="text" group="Everyone" prompt="Page Heading" alt="Please enter the page heading.">Interior Title</parameter>
		<parameter name="breadcrumb" type="text" group="Everyone" prompt="Breadcrumb" alt="Not displayed for index pages. Page title by default.">Interior Breadcrumb</parameter>
		<parameter name="subject-code" type="text" group="Everyone" prompt="Subject Code" alt="Enter subject code to display courses from.">ACC</parameter>
	</ouc:properties>

	<ouc:properties label="pdf-config">
		<parameter section="Full PDF Control" group="Everyone" name="full-pdf" type="radio" prompt="Full PDF" alt="Choose to or not display this page in the full PDF.">
			<option value="true" selected="false">Display</option>
			<option value="false" selected="true">Do Not Display</option>
		</parameter>
		<parameter name="index-keywords" type="text" group="Everyone" prompt="Index Keywords" alt="Enter a keyword or short list to relate this page with in the catalog in the full PDF."></parameter>
		<parameter name="page-weight" group="Everyone" prompt="Page Weight" alt="Selects the weight of the page; for ordering purposes in the Full PDF." >-1000</parameter>
	</ouc:properties>
	
	<ouc:properties label="pdf-metadata">
		<parameter section="PDF Meta Data" name="meta-title" type="text" group="Everyone" prompt="PDF Title" alt="Enter PDF title. Defaults to page title if blank."></parameter>
		<parameter name="meta-author" type="text" group="Everyone" prompt="PDF Author" alt="Enter PDF author."></parameter>
		<parameter name="meta-subject" type="text" group="Everyone" prompt="PDF Subject" alt="Enter PDF subject. Defaults to meta description if blank."></parameter>
		<parameter name="meta-keywords" type="text" group="Everyone" prompt="PDF Keywords" alt="Enter PDF keywords."></parameter>
	</ouc:properties>
	
	<ouc:div label="maincontent" group="Everyone" button-text="Main Content"><ouc:editor csspath="/_resources/ou/editor/wysiwyg.css" cssmenu="/_resources/ou/editor/styles.txt" wysiwyg-class="maincontent"/>
	</ouc:div>
	
</document>
